@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
  width: 4px;
}

::-webkit-scrollbar-thumb {
  background-color: #5A7B91;
}

.contact {
  width: .75rem;

  @media (min-width: 768px) {
    width: auto;
  }
}

@keyframes floating {
  0%, 100% {
    transform: translate(0, -15px);
  }

  50% {
    transform: translate(0, 20px);
  }
}

.animate-floating {
  animation: floating 7s infinite
}

.font {
  font-family: 'Press Start 2P';
}

.headerComponents {
  border-radius: 0.75rem;
  width: fit-content;
  padding: 0.5rem;
  background-color: rgba(0, 0, 0, 0.1);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  margin: 0.75rem 1.75rem;
}